$seatText: grey;
$seatTextHover: black;
$seatTextChecked: white;
$background: #eee;
$backgroundHover: #ccc;
$backgroundChecked: red;
$backgroundRes: #eee;

.container {
  position: relative;
  cursor: pointer;
  padding: 13px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
}

.singleSeat {
  display: inline-flex;
  vertical-align: middle;
}

.seatText {
  margin-top: auto;
  margin-bottom: auto;
  color: $seatText;
}




/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $background;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.container:hover input ~ .checkmark {
  background-color: $backgroundHover;

  > p {
    color: $seatTextHover;
  }
}

.container input:checked ~ .checkmark {
  background-color: $backgroundChecked;


  > p {
    color: $seatTextChecked;
  }
}

.resSeats {
  background-color: yellow !important;
  
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

#ticketsdetail-header {
  padding: 25px 0 15px 0;
  font-size: 24px;
  font-weight: bold;

}

#saalplan_detail {
  width: 65%;
}

.reihenbeschriftung {
  width: 25px;
  display: inline-flex;
}
