* { margin: 0; padding: 0; box-sizing: border-box; }
/* CSS Normalize https://necolas.github.io/normalize.css/ */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,
menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

img { max-width: 100%; height: auto; }

strong, b { font-weight: bold; }
em, i { font-style: italic; }
u { text-decoration: underline; }
del { text-decoration: line-through; }
small { font-size: .75em; }

ul { list-style: disc; padding-left: 1em; }
ol { list-style: decimal; padding-left: 1em; }

p{font-size:1em;line-height:1.5em;margin-top:1.5em;margin-bottom:1.5em;}
h1{font-size:1.67em;line-height:.9em;margin-top:.9em;margin-bottom:.9em;font-weight:bold;}
h2{font-size:1.5em;line-height:1em;margin-top:1em;margin-bottom:1em;font-weight:bold;}
h3{font-size:1.33em;line-height:1.13em;margin-top:1.13em;margin-bottom:1.13em;}
h4{font-size:1.17em;line-height:1.29em;margin-top:1.29em;margin-bottom:1.29em;}

/* 12er Grid */
*[class*='col-']{
	float: left;
	padding-left: 1em;
	padding-right: 1em;
}

.no-gutter *[class*='col-']{
	padding-left: 0;
	padding-right: 0;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
}
.clearfix::after { clear: both; }
.clearfix { *zoom: 1; /* Für den IE6 und IE7 */ }

.row::before, .row::after {
  content: " ";
  display: table;
}
.row::after { clear: both; }
.row { *zoom: 1; /* Für den IE6 und IE7 */ }

.col-xs-1{width:8.333%}.col-xs-2{width:16.666%}.col-xs-3{width:25%}.col-xs-4{width:33.333%}.col-xs-5{width:41.666%}.col-xs-6{width:50%}.col-xs-7{width:58.333%}.col-xs-8{width:66.666%}.col-xs-9{width:75%}.col-xs-10{width:83.333%}.col-xs-11{width:91.666%}.col-xs-12{width:100%}
@media all and (max-width: 400px ){.col-xxs-1{width:8.333%}.col-xxs-2{width:16.666%}.col-xxs-3{width:25%}.col-xxs-4{width:33.333%}.col-xxs-5{width:41.666%}.col-xxs-6{width:50%}.col-xxs-7{width:58.333%}.col-xxs-8{width:66.666%}.col-xxs-9{width:75%}.col-xxs-10{width:83.333%}.col-xxs-11{width:91.666%}.col-xxs-12{width:100%}}
@media all and (min-width: 768px ){.col-sm-1{width:8.333%}.col-sm-2{width:16.666%}.col-sm-3{width:25%}.col-sm-4{width:33.333%}.col-sm-5{width:41.666%}.col-sm-6{width:50%}.col-sm-7{width:58.333%}.col-sm-8{width:66.666%}.col-sm-9{width:75%}.col-sm-10{width:83.333%}.col-sm-11{width:91.666%}.col-sm-12{width:100%}}
@media all and (min-width: 992px ){.col-md-1{width:8.333%}.col-md-2{width:16.666%}.col-md-3{width:25%}.col-md-4{width:33.333%}.col-md-5{width:41.666%}.col-md-6{width:50%}.col-md-7{width:58.333%}.col-md-8{width:66.666%}.col-md-9{width:75%}.col-md-10{width:83.333%}.col-md-11{width:91.666%}.col-md-12{width:100%}}
@media all and (min-width: 1200px ){.col-lg-1{width:8.333%}.col-lg-2{width:16.666%}.col-lg-3{width:25%}.col-lg-4{width:33.333%}.col-lg-5{width:41.666%}.col-lg-6{width:50%}.col-lg-7{width:58.333%}.col-lg-8{width:66.666%}.col-lg-9{width:75%}.col-lg-10{width:83.333%}.col-lg-11{width:91.666%}.col-lg-12{width:100%}}
@media all and (min-width: 1500px ){.col-xl-1{width:8.333%}.col-xl-2{width:16.666%}.col-xl-3{width:25%}.col-xl-4{width:33.333%}.col-xl-5{width:41.666%}.col-xl-6{width:50%}.col-xl-7{width:58.333%}.col-xl-8{width:66.666%}.col-xl-9{width:75%}.col-xl-10{width:83.333%}.col-xl-11{width:91.666%}.col-xl-12{width:100%}}

.text-center { text-align: center; }
.text-right { text-align: right; }

@import 'userlogin';
@import 'theme';
@import 'kinosaal';
