$color: rgb(0,158,194);
$hovercolor: rgb(0,158,194);
$darkfootercolor: #202020;
$footercolor: rgba(0,158,194,1);
$footer-font-color: white;

html, body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

input {
  border-bottom: 1px solid #666666;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 3px;
  font-weight: lighter;
}
input[type=submit]{
  background: $color;
  padding: 8px 15px 8px 15px;
  border: none;

  color: #fff;

  &:hover {
    color: black;
  }
}
#logo a {
	padding: 0.4em 0;
	display: inline-block;
  width: 250px;
}

#main ul {
  float: right;
}

#main ul li {
  float: left;
  list-style: none;
}

#main ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2em 1em;
  display: inline-block;
}

#main ul li a:hover,
#main ul li a:active {
  color: $hovercolor;
}



#teaser .wrapper {
	position: relative;
}

#teaser .offset {
	position: absolute;
	bottom: 3em;
	width: 450px;
	color: white;
  border: 1px solid white;
  padding: 0em 1em 1em 1em;
}

/* Modifikation bxSlider */
.bx-wrapper {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 0px !important;
	margin-bottom: 0px !important;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	bottom: 50px !important;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background-color: rgba(0,0,0, 0.9) !important;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
	background-color: white !important;

}

.tickets {
  text-transform: uppercase;
  float: right;
  background: Transparent;
  border: none;
  color: white;
}
.uppercase {
  text-transform: uppercase;
}

.headline {
  background-color: $color;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

#programm .spacer {
  border-bottom: 1px solid black;
}

#programm .anfangszeiten {
  float: right;
  margin: 0px;
  padding: 0px;

  > a {
    color: black;
  }
}

#programm .infobox {
  position: relative;
  min-height: 115px;
  max-width: 40%;
  margin: 0px;
  padding: 0px
}

#programm .infobox h3,
#programm .infobox p {
  padding: 0em;
  margin: 0em;
}

#programm .button {
  background-color: white;
  border: 1px solid $color;
  padding: .5em;
  margin-top: 12px;
  position: absolute;
}

#programm .button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#programm img {
  display: block;
  float: left;
}

#programm div {
  display: block;
}

#programm .detailview {
  padding-top: 10px;
  display: flex;

  img {
    width: 100px;
  }
}

#programm .detailview .poster {
  margin: 0px;
  padding: 0px;
  margin-right: 15px;
}

#programm .anfangszeitdetail {
  width: 100px;
  height: auto;
  padding: 0.5em;
  text-align: center;
  float: left;
}

#programm .anfangszeitdetail span {
    width: 10px;
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
}

#programm .anfangszeitdetail img {
   vertical-align: middle;
   border: 0 none;
   max-width: 25px;
}

#programm .anfangszeitdetail p {
  margin: 0em;
}

#programm .anfangszeitdetail:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#programm h2 {
  float: inline-start;
}

#programm select {
  margin-bottom: 1em;
  padding: .25em;
  border: 0;
  border-bottom: 2px solid currentcolor;
  font-weight: bold;
  letter-spacing: .15em;
  border-radius: 0;
  &:focus, &:active {
    outline: 0;
    border-bottom-color: red;
  }
}

#programm form {
  width: 230px;
  float: right;
  padding-left: 20px;
}

#topfilme {
  padding-top: 1em;

  a{
    text-decoration: none;
    color: black;
  }
}

#topfilme .shadow {
  margin: 0em;
  padding: 0em;
  border: 15px solid rgba(255, 255, 255, .5);
}

#topfilme .shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#topfilme h3 {
  text-transform: uppercase;
  padding-top: 1em;
  margin: 0em;
}

#topfilme p {
  padding: 0em;
  margin: 0em;
}
#topfilme .movie {
  padding-top: 1em;
}

#topfilme .inner {
  height: 300px;
  padding: 0em 1em;
  position: relative;
}

#topfilme .filmstart {
  color: white;
  padding: 0.5em;
  margin-top: -1em;
  background-color: $color;
  position: absolute;
  bottom: 10px;
}

footer {
  margin-top: 2em;
  background-color: $footercolor;
	color: $footer-font-color;
	padding: 1em 0 0 0;
}

footer address {
	font-style: normal;
}

footer ul {
	list-style: none;
	margin: 1.5em 0;
}

footer ul li {
	line-height: 1.5em;
}
footer a {
	color: $footer-font-color;
}

.dark-footer {
	background-color: $darkfootercolor;
	padding: 1em;
	margin-top: 1em;
}

#filmdetail {
  padding: 20px 0;
  background-color: $color;
  color: white;
}

#filmdetail .image-inner {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

#filmdetail .poster {
  display: block;
  width: 300px;
  height: 450px;
  position: relative;
  z-index: 2;
}

#filmdetail .infobox {
  padding-top: 10px;
}

#filmdetail .header-poster {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 700px;
  box-sizing: border-box;
  padding-left: 40px;
}

#filmdetail h1 {
  font-size: 35px;
  padding-top: 0;
  padding-bottom: 15px;
  margin: 0;
}
#filmdetail h3 {
  padding: 0 0 15px 0;
  margin: 0;
}

#filmdetail p {
  padding: 0;
  margin: 0;
}

#filmdetail .icons img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

#filmdetail .icons {
  padding-top: 18px;
  margin-bottom: 30px;
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#filmdetail .tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
#filmdetail .tooltip .tooltiptext {
    font-size: 14px;
    visibility: hidden;
    width: 200px;
    // background-color: white;
    color: white;
    text-align: center;
    padding: 7px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 50%;
    margin-left: -80px; // Die Hälfte von Width!!! (sofern der Text mittig sein soll)
}

#filmdetail .tooltip:hover .tooltiptext {
    visibility: visible;
}

#filmdetail .infobox-zusatz {
  padding-top: 25px;
  font-size: 13px;
}

#useraccount {
  position: relative;
  display: inline-block;


}
.userlogin {
  // display:none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.burgermenu {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    padding: 1em;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: fixed;
    top: 70px;
    right: 0px;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 120;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}

#filmdetail .lightbox {
	background-color: rgba(0,0,0,.75);
	position: fixed;
	top: 0; right:0; bottom: 0; left: 0;
	display: none;
  z-index: 100;
}

#filmdetail .lightbox .content {
	position: absolute;
	top: 50%;
	left: 50%;
  width: 70%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: none;
	border-radius: 5px;
}

#moviedetailshows {
  ul {
    list-style: none;
    padding: 0;
    margin: 0.5em;
  }

  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: $color;
  }
}

@media only screen and (max-width: 400px) {
  #logo img {
    width: 180px;
  }
}

@media only screen and (max-width: 300px) {
  #logo img {
    width: 150px;
  }

  #programm .detailview img {
    width: 40px;
  }
}

@media only screen and (max-width: 770px) {
  #main {
    display: none;
  }

  #teaser {
    display: none;
  }

  .burgermenu {
    display: inline-block;
    float: right;
  }

  #programm .detailview img {
    width: 60px;
  }
}

table {
	width: 100%;
	margin: 0px;
	border: 1px solid black;
	border-spacing: 0;

	th {
		padding: 0.5em 0.25em;
		background-color: white;
		color: black;
		text-align: left;
	}

	td {
		padding: 0.25em;
	}

	tr:hover {
		background-color: #D1D1D1;
	}

}
