<form method="post" name="userregistrierung" action="">
<input type="hidden" name="userform" value='1'/>
<h2>Userregistrierung</h2>
<div>
  <label for='email'>Email:</label><br />
  <input type='text' name='email' id='email' value='{if is_array($error.email) or empty($error.email)}{else}{$error.email}{/if}'/>
</div>
<div>
  <label for='vorname'>Vorname:</label><br />
  <input type='text' name='vorname' id='vorname' value='{if is_array($error.vorname) or empty($error.vorname)}{else}{$error.vorname}{/if}' />
</div>
<div>
  <label for='nachname'>Nachname:</label><br />
  <input type='text' name='nachname' id='nachname' value='{if is_array($error.nachname) or empty($error.nachname)}{else}{$error.nachname}{/if}'/>
</div>
<div>
  <label for='passwort'>Passwort:</label><br />
  <input type='password' name='passwort' id='passwort' value='{if is_array($error.passwort) or empty($error.passwort)}{else}{$error.passwort}{/if}'/>
</div>
<div>
  <label for='passwortValidate'>Passwort bestätigen:</label><br />
  <input type='password' name='passwortValidate' id='passwortValidate' value='{if is_array($error.passwort) or empty($error.passwort)}{else}{$error.passwort}{/if}' />
</div>
<div>
  <input type='submit' name='submit1' value='Benutzer anlegen' />
</div>
</form>
