<form method="post" name="userlogin" action="">
<input type="hidden" name="userform" value='3'/>
  <h2>Neues Passwort</h2>
  <div>
    <label for='email'>Email:</label><br />
    <input type='text' name='email' id='email' value='{if is_array($error.emailLogin) or empty($error.emailLogin)}{else}{$error.emailLogin}{/if}'/>
  </div>
  <div>
    <input type='submit' name='submit3' value='Neues Passwort anfordern' />
  </div>
</form>
