<h2>Achtung: Dein Account wurde gesperrt!</h2><br />
<br />
Hallo %vorname%!<br />
<br />
Dein Benutzer wurde soeben gesperrt aufgrund zuvieler fehlgeschlagenen Loginversuche.
<br />
<br />
Für Fragen stehen wir dir immer zur Verfügung.
<br /><br />
Freundliche Grüße, <br />
dein KinoDB-Team
