<h2>Neues Passwort</h2>
<br /><br />
<p>
  Hallo %vorname%!<br /><br />
  Wir haben eine Anfrage zum Zurücksetzen deines Passworts erhalten. Mit diesem Link, der 24 Stunden gültig ist, kannst du dein Passwort zurücksetzen und ein neues wählen.<br /><br />

  <a href='http://127.0.0.1/kinodb/index.php?p=newPasswort&code=%code%'>Neues Passwort setzen</a><br /><br />

Solltest du dein Passwort nicht vergessen haben bzw. keine Änderung deines Passworts wünschen, betrachte diese E-Mail bitte als gegenstandslos. Dein Passwort bleibt somit unverändert.<br /><br />

Mit freundlichen Grüßen,<br />
dein KinoDB-Team
</p>
