<h1>Herzlich Willkommen</h1>
<p>
  Hallo %vorname%!<br />
  <br />
  Herzlich Willkommen auf KinoDB. Du hast dich mit der E-Mailadresse %email% registriert. <br />
  <br />
  Viel Spaß wünscht dir dein KinoDB-Team
</p>
