<h2>Ihre eTickets</h2>
<p>
  Hallo %vorname%!<br />
  <br />
  Du hast soeben Tickets für %film% am %datum% um %uhr% gekauft. <br />
  Deine Tickets kannst du mit %code% abholen, oder mit diesem Barcode <br />
  <br />
  %barcode%
  <br />
  <br />
  Viel Spaß im Kino! <br />
  Dein KinoDB-Team
</p>
