<h2>Ticketstornierung</h2>
<br /><br />
<p>
  Hallo %vorname%!<br /><br />
  Deine Reservierung mit dem Reservierungscode <b>%code%</b> wurde soeben storniert.<br /><br />

Mit freundlichen Grüßen,<br />
dein KinoDB-Team
</p>
