<h2>Dein Account wurde gerade entsperrt!</h2><br />
<br />
Hallo %vorname%!<br />
<br />
Dein Benutzer wurde soeben von einem Administrator entsperrt. Du kannst dich ab sofort wieder mit deiner Emailadresse %email% anmelden.
<br />
<br />
Für Fragen stehen wir dir immer zur Verfügung.
<br /><br />
Freundliche Grüße, <br />
dein KinoDB-Team
