* { margin: 0; padding: 0; box-sizing: border-box; }
/* CSS Normalize https://necolas.github.io/normalize.css/ */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,
menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

img { max-width: 100%; height: auto; }

strong, b { font-weight: bold; }
em, i { font-style: italic; }
u { text-decoration: underline; }
del { text-decoration: line-through; }
small { font-size: .75em; }

ul { list-style: disc; padding-left: 1em; }
ol { list-style: decimal; padding-left: 1em; }

p{font-size:1em;line-height:1.5em;margin-top:1.5em;margin-bottom:1.5em;}
h1{font-size:1.67em;line-height:.9em;margin-top:.9em;margin-bottom:.9em;font-weight:bold;}
h2{font-size:1.5em;line-height:1em;margin-top:1em;margin-bottom:1em;font-weight:bold;}
h3{font-size:1.33em;line-height:1.13em;margin-top:1.13em;margin-bottom:1.13em;}
h4{font-size:1.17em;line-height:1.29em;margin-top:1.29em;margin-bottom:1.29em;}

/* 12er Grid */
*[class*='col-']{
	float: left;
	padding-left: 1em;
	padding-right: 1em;
}

.no-gutter *[class*='col-']{
	padding-left: 0;
	padding-right: 0;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
}
.clearfix::after { clear: both; }
.clearfix { *zoom: 1; /* Für den IE6 und IE7 */ }

.row::before, .row::after {
  content: " ";
  display: table;
}
.row::after { clear: both; }
.row { *zoom: 1; /* Für den IE6 und IE7 */ }

.col-xs-1{width:8.333%}.col-xs-2{width:16.666%}.col-xs-3{width:25%}.col-xs-4{width:33.333%}.col-xs-5{width:41.666%}.col-xs-6{width:50%}.col-xs-7{width:58.333%}.col-xs-8{width:66.666%}.col-xs-9{width:75%}.col-xs-10{width:83.333%}.col-xs-11{width:91.666%}.col-xs-12{width:100%}
@media all and (max-width: 400px ){.col-xxs-1{width:8.333%}.col-xxs-2{width:16.666%}.col-xxs-3{width:25%}.col-xxs-4{width:33.333%}.col-xxs-5{width:41.666%}.col-xxs-6{width:50%}.col-xxs-7{width:58.333%}.col-xxs-8{width:66.666%}.col-xxs-9{width:75%}.col-xxs-10{width:83.333%}.col-xxs-11{width:91.666%}.col-xxs-12{width:100%}}
@media all and (min-width: 768px ){.col-sm-1{width:8.333%}.col-sm-2{width:16.666%}.col-sm-3{width:25%}.col-sm-4{width:33.333%}.col-sm-5{width:41.666%}.col-sm-6{width:50%}.col-sm-7{width:58.333%}.col-sm-8{width:66.666%}.col-sm-9{width:75%}.col-sm-10{width:83.333%}.col-sm-11{width:91.666%}.col-sm-12{width:100%}}
@media all and (min-width: 992px ){.col-md-1{width:8.333%}.col-md-2{width:16.666%}.col-md-3{width:25%}.col-md-4{width:33.333%}.col-md-5{width:41.666%}.col-md-6{width:50%}.col-md-7{width:58.333%}.col-md-8{width:66.666%}.col-md-9{width:75%}.col-md-10{width:83.333%}.col-md-11{width:91.666%}.col-md-12{width:100%}}
@media all and (min-width: 1200px ){.col-lg-1{width:8.333%}.col-lg-2{width:16.666%}.col-lg-3{width:25%}.col-lg-4{width:33.333%}.col-lg-5{width:41.666%}.col-lg-6{width:50%}.col-lg-7{width:58.333%}.col-lg-8{width:66.666%}.col-lg-9{width:75%}.col-lg-10{width:83.333%}.col-lg-11{width:91.666%}.col-lg-12{width:100%}}
@media all and (min-width: 1500px ){.col-xl-1{width:8.333%}.col-xl-2{width:16.666%}.col-xl-3{width:25%}.col-xl-4{width:33.333%}.col-xl-5{width:41.666%}.col-xl-6{width:50%}.col-xl-7{width:58.333%}.col-xl-8{width:66.666%}.col-xl-9{width:75%}.col-xl-10{width:83.333%}.col-xl-11{width:91.666%}.col-xl-12{width:100%}}

.text-center { text-align: center; }
.text-right { text-align: right; }

// Backend Theming

body, html {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #111;
}

#content {
  padding: 14px 16px;
}

#content #filmdetailansicht {
  display: flex;
  flex-wrap: wrap;
}

#content #filmdetailansicht > div {
    background-color: #f1f1f1;
    padding: 10px;
}

#content #filmdetailansicht .filmdetails_important,
#content #filmdetailansicht .filmdetails {
  flex-grow: 1;
}

#content #filmdetailansicht .handlung {
  flex-grow: 2;
}

#content #filmdetailansicht .filmtrailers,
#content #filmdetailansicht .cast,
#content #filmdetailansicht .images {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

   > div {
     padding: 10px;
   }
}

#content #filmdetailansicht .trailer {
  padding: 10px;

  input[type=text] {
    width: 260px;
  }
}

#content .filmliste table {
  width: 700px;
}
#content .filmliste table thead {
  color: white;
  background-color: black;
}

#letter {
  font-size: 0.8rem;
}
input,
select,
textarea {
    font-size: 16px;
    width: 400px;
    padding: 6px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

    input[type=file]{
      width: 240px;
    }
}

textarea {
  font-family: 'Nunito Sans', sans-serif;
  width: 550px;
  height: 250px;
}
input[type=text]:focus, textarea:focus {
    border: 3px solid #555;
}

input[type=submit]:hover {
    border: 3px solid #555;
}

.errors {
  width: 100%;
  border: 4px solid #F21111;
  background-color: #F35252;
  padding: 15px;
  margin-bottom: 15px;
  align-items: center;

}

.errors ul {
  background-color: #F35252;

  list-style-type: square;
  margin: 0;
  padding: 0 25%;
  overflow: hidden;
  text-align: center;
}

.errors li {
  text-align: left;
	list-style: none;
}

.success {
  width: 100%;
  border: 4px solid #089B16;
  background-color: #14C626;
  padding: 15px;
  margin-bottom: 15px;
  align-items: center;

}

.success ul {
  background-color: #14C626;
  list-style-type: square;
  margin: 0;
  padding: 0 25%;
  overflow: hidden;
  text-align: center;
}

.success li {
  text-align: left;
}

#spielplan h2, p {
  margin: 0;
  padding: 0;
}

#spielplan table {
  width: 80%;
}
#spielplan table tr td {
  padding: 5px 0;
}

.dates {

	display: inline-flex;
	flex-flow: column;

}
.datecontainer {
	text-align: center;
	display: inline-flex;
  flex-direction: row;


	.date-title {
		border: 1px solid black;
		flex-direction: column;
		margin: 2px;
		padding: 7px;
	}
	.weekday {
		font-size: 26px;
		font-weight: bold;
	}
	.date {
		font-size: 16px;
	}
}

.time {
	border: 1px solid lightgrey;
	text-align: center;
	display: inline-flex;
	flex-direction: row;
	padding: 5px;
	margin: 2px;
	width: 55px;

	label {
		display:inline-block;
		cursor:pointer;
	}

}

.dates input[type=checkbox]{
	display: none;
}

.spielplan_block {
	background-color: red;
}

table {
	width: auto;
	margin: 0px;
	border: 1px solid black;
	border-spacing: 0;

	th {
		padding: 0.5em 0.25em;
		background-color: white;
		color: black;
		text-align: left;
	}

	td {
		padding: 0.25em;
	}

	tr:hover {
		background-color: #D1D1D1;
	}

	tr:nth-of-type(odd) td {background-color: #E3E2E2;}

	a {
		text-decoration: none;
		color: black;
	}
	a:hover {
		color: red;
	}
}
